.standings{
    width: 100%;
}
.sideNav{
    margin-top:25px;
    .link{
        display: block;
        margin: 15px 0;
        font-size: 0.85em;
    }
}
.tabContent{
    margin-top:25px;
}

.tournamentPlayers{
    margin-top:20px;
}

.prelimGame{
    margin: 20px 0;
}

.topButton{
    text-align: right;
    margin-top: 15px;
}