.adminCnt{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px; /* Optional: Add some padding around the elements */
    text-align: center; /* Optional: Center the content horizontally */
    z-index: 1000; /* Optional: Ensure it stays on top of other elements */
}