@import '../../../../../styles.less';

.playerName{
    font-size: 1.4em;
    margin-bottom: 5px;
}

.stats{
    margin:20px 0;
}
.statsYearSelectionLabel{
    font-size:.8em;
    color: @link-color;
}
.statLabel{
    border-bottom: 4px solid @highlite-color;
    color: @link-color;
    font-size: .85em;
}
.section{
    margin:30px 0;
}

.statsTop{
    margin-bottom: 20px;
}

.player-face {
    transform: scale(1.7);
    margin-top: 30px;
  }

.note{
    font-size: .75em;
}
.margin{
    padding-left:15px;
}
.resultCnt{
    margin: 15px 0 7px 0;
    border-bottom: 1px solid #505050;
    padding-bottom: 7px;
}