<app-section-header text="Players"></app-section-header>
<div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<!-- <div class="message" *ngIf="message">{{message}}</div> -->
<div class="row">
    <div class="col-8"></div>
    <div class="col-4" style="text-align:right;">
        <div *ngIf="loggedIn()" class="btn btn-primary" (click)="openNewPlayer()"> New Player</div>
    </div>
</div>
<div *ngIf="!loading">
    <table class="stats-table players">
        <thead>
            <tr>
                <th>Name</th>
                <th>Record</th>
                <th>Tournaments</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of summaries">
                <td class="name">
                    <div class="faceCnt">
                        <div style="display: inline-block;" class="player-face player-face-{{summary!.profilePic}}"></div>
                        <div class="link" (click)="showPlayer(summary.playerId)"> {{summary.fullName}} </div>
                    </div>
                </td>
                <td class="email">{{summary.wins}} - {{summary.loses}}</td>
                <td class="tournamentIds">
                   {{summary.tournamentIds.length}}
                </td>
                <td class="edit">
                    <span *ngIf="loggedIn()" class="link" (click)="openEditPlayer(summary)">Edit</span>
                </td>
                <td class="delete">
                    <span *ngIf="loggedIn()" class="link" (click)="openDeletePlayer(summary)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-modal #newPlayerModal title="New Player">
    <app-new-player (newPlayerCreated)="newPlayerCreated()"></app-new-player>
</app-modal>
<app-modal #deletePlayerModal title="Delete Player">
    <app-delete-player #deletePlayer (playerDeleted)="playerDeleted()"></app-delete-player>
</app-modal>
<app-modal #editPlayerModal title="Update Player">
    <app-edit-player #editPlayer (playerUpdated)="playerUpdated()"></app-edit-player>
</app-modal>