.players
{
    .name{
        width: 35%;
    }
    .email{
        width: 20%;
    }
    .tournamentIds{
        width: 20%;
    }

    .edit, .delete{
        width: 12%;
    }

    .faceCnt{
        display: flex; 
        align-items: center; 
        width: fit-content;
    }
}